<h1>Finder</h1>
<p>Dê um match no seu talento</p>

 <a href="/login" > Login</a>
<div id="container">
    <div id="candidato">
      <h2>Candidatos</h2>
    <p>Cadastre o seu perfil e encontre a vaga perfeita para você!</p>
    <button  id="btn-cad-candidato">
     
      <a href="/candidatePre" > Cadastre-se</a>
      </button>
      <div>
      {{{formCandidate}}}
      </div>

    </div>
    <div id="recrutador">
    <h2>Recrutadores</h2>
    <p>Cadastre suas vagas e encontre candidatos com o perfil mais adequado</p>
    <button  id="btn-cad-recrutador">
     
      <a href="/recruiterPre" > Cadastre-se</a>
      </button>
      <div>
      {{{formRecruiter}}}
      </div>
    
    </div>
</div>
