<div id="container">
  <div id="candidato">
    <div id="back-div-candidato">
      <h2>Candidatos</h2>
    </div>
    <div id="imagem-candidato">
      <img src="../images/handsome-young-man.png" alt="">
    <p>Cadastre o seu perfil e encontre a vaga perfeita para você!</p>
    <button  id="btn-cad-candidato">
      <a href="/candidatePre" > Cadastre-se</a>
      </button>
      </div> 
      <div>
      {{{formCandidate}}}
      </div>
  </div>  

    <div id="recrutador">
      <div id="back-div-recrutador">
    <h2>Recrutadores</h2>
      </div>
      <div id="imagem-recrutador">
        <img src="../images/smiling-female-business.png" alt="">
    <p>Cadastre suas vagas e encontre candidatos com o perfil mais adequado</p>
    <button  id="btn-cad-recrutador">
     
      <a href="/recruiterPre" > Cadastre-se</a>
      </button>
      </div>
      <div>
      {{{formRecruiter}}}
      </div>
    
  </div>
</div>
