<h1>Bem vindo ao seu Perfil {{name}}</h1>

<h2>Precisamos de mais alguns dados para completar seu cadastro</h2>
<form action="/create" method="POST">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name-recruiter" placeholder="Nome" value="{{name}}">
    </br></br>
    <label for="lastName">Sobrenome</label>
    <input type="text" name="lastName" id="last-recruiter" placeholder="Sobrenome">
    </br></br>
    <label for="email" >Email</label>
    <input type="email" name="email" id="email-recruiter" placeholder="E-mail" value="{{email}}">
    </br></br>
    <label for="city">Cidade</label>
    <input type="text" name="city" id="city-recruiter" placeholder="Cidade da Empresa">
    </br></br>
    <label for="phone">Telefone</label>
    <input type="text" name="phone" id="phone-recruiter" placeholder="Telefone">
    </br></br>
    <label for="company">Empresa</label>
    <input type="text" name="company" id="company" placeholder="Empresa onde trabalha"">
    </br></br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password-recruiter" placeholder="********"/>
     </br></br>
    
    <button type="submit" id="create-recruiter">Salvar</button>
       
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
 
  </form>


