<h1>Cadastrar Nova Vaga </h1>

<h2>Preencha os dados abaixo:</h2>

<form action="/createJob/{{id}}" method="POST">
  
  <label for="title">Título da vaga</label>
  <input type="text" name="title" id="name-job" placeholder="Nome" ><br>
  <label for="city">Cidade</label>
  <input type="text" name="city" id="city-job" placeholder="Cidade"><br>
  <label for="skills">Skills - Descreva 05 (cinco) Skills</label>
  <input type="text" name="skills" id="skills-job" placeholder="Skills"><br>
  <label for="wage">Salário Base</label>
  <input type="text" name="wage" id="wage-job" placeholder="Salário Base"><br>
  <label for="company">Empresa</label>
  <input type="text" name="company" id="company-job" placeholder="Empresa"">
  </br></br>
  <button type="submit" id="criar-vaga">Criar</button>
  </form>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
   