body {
 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2 {
  padding-top: 0.5ch;
  font-size: 2.5vw;
}
h3 {
  padding-top: 0.5ch;
  font-size: 1.5vw;
}


#container{
  display:flex;
  justify-content: space-between;
  margin-top: 3%;
  }

#edit-recruiter {
  display:flex;
  justify-content: space-around;
}

.logo {
  height: auto;
  width: 250px;
}

#slogan{
  font-size: 1.5vw;
  font-weight: bold;
  color: #707070;
  margin-right: 5%;
}

.navbar-nav {
  font-size: 1.5vw;
}

.btn {
  text-decoration: none;
  background-color: white;
}

.btn-outline-secondary {
  margin-left: 150%;
  text-decoration: none;
  border-color: #707070;
  color: white
}
//Estilização Candidatos
#back-div-candidato{
  background-color: #87023E;
  height: 5vw;
  width: 48vw;
  margin-left: -5%;
  text-align: end;
  color: white;
  padding-right: 1%;
}

#back-div-candidato > h2{
  padding-top: 0.5ch;
  font-size: 2.5vw;
}

#imagem-candidato > img {
  height: auto;
  width: 48vw;
  margin-left: -5%;
}

#btn-cad-candidato {
  margin-top: -22%;
  margin-left: 75%;
}

#btn-cad-candidato >a > img {
  width: auto;
  height: 6vw;
}

#form-pre-candidato{
  margin-top: 10%;
  margin-left: -5%;
  padding-right: 2.5vw;
}
//profile Candidato
#button-back-profileCandidate > a { 
  text-decoration: none;
  color: white;
}
#form-edit-candidate {
  padding-right: 40vw;
}
#back-profile-candidate > a {
  text-decoration: none;
  color: white;
}
#cad-candidate {
  padding-right: 40vw;
}
#button-back-profile-candidate > a {
  text-decoration: none;
  color: white;
}


//Estilização Recrutador
#back-div-recrutador{
  background-color: #111193;
  height: 5vw;
  width: 48vw;
  margin-left: 5%;
  text-align: start;
  color: white;
  padding-left: 1%;
}

#back-div-recrutador > h2{
  padding-top: 0.5ch;
  font-size: 2.5vw;
}

#imagem-recrutador > img{
  height: auto;
  width: 48vw;
  margin-left: 5%;
}

#btn-cad-recrutador{
  margin-top: -22%;
  margin-left: 10.5%;
}

#btn-cad-recrutador >a > img {
  width: auto;
  height: 6vw;
}

#form-pre-recrutador{
  margin-top: 10%;
  margin-left: 5%;
  padding-right: 2.5vw;
}
// profile recrutador
figure > img{
  width:200px;
  height:200px;
}
#button-create-job > a{
  text-decoration: none;
  color: white;
}
#button-edit-profile-recruiter > a{
  text-decoration: none;
  color: white;
}
#button-back-profile-recruiter > a{
  text-decoration: none;
  color: white;
}
#button-back-profileRecruiter > a {
  text-decoration: none;
  color: white;
}
#form-edit-recruiter {
  padding-right: 40vw;
}
#new-job-recrutador{
  padding-right: 40vw;
}
#cad-recruiter {
  padding-right: 40vw;
}
#button-back-profileRecruiter > a {
  text-decoration: none;
  color: white;
}
// login
#form-login{
  padding-right: 40vw;  
}

// Estilização Página Detalhes Candidato
#topo-candidato{
  background-color: #87023E;
  margin-top: 3%;
  height: 0.5vw;
  width: 100%;
}

// Estilização Página Match Vagas

#topo-recrutador{
  background-color: #111193;
  margin-top: 3%;
  height: 0.5vw;
  width: 100%;
}

#textos-match-vaga{
  margin-top: 3%;
  color: #707070;
}

#cards-recrutador{
  display: flex;
  justify-content: space-around;
}

#button-back-profileRecruiter {
  text-decoration: none;
  color: white;
}
