<h1>Bem-vindo ao seu perfil, {{name}}</h1>

<h2>Por favor, complete o seu cadastro</h2>

<form action="/createCandidate" method="POST" enctype="multipart/form-data">
  <div id="cad-candidate" class="form-group"> 
    <label for="name">Nome</label>
    <input type="text" name="name" id="name-candidate" placeholder="Nome" value="{{name}}" class="form-control">
    <label for="lastName">Sobrenome</label>
    <input type="text" name="lastName" id="lastName" placeholder="Sobrenome" class="form-control">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email-candidate" placeholder="Email" value="{{email}}" class="form-control">
    <label for="phone">Telefone</label>
    <input type="text" name="phone" id="phone" placeholder="Telefone" class="form-control">
    <label for="city">Cidade</label>
    <input type="text" name="city" id="city" placeholder="Cidade" class="form-control">
    <label for="skills">Skills - Descreva 05 (cinco) Skills (Separando-as por "," VIRGULA)</label>
    <input type="text" name="skills" id="skills" placeholder="Skills" class="form-control">
    <label for="wage">Salário Base</label>
    <input type="text" name="wage" id="wage" placeholder="Salário Base" class="form-control">
    <label for="input-password">Crie uma senha</label>
    <input type="password" name="password" id="input-password" class="form-control">
    <label for="image-input">Imagem:</label>
    <input type="file" name="image" id="image-candidate" />
    <br>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}


